:root {
  --color-primary: #353535;
  --color-secondary: #3c6e71;
  --color-complementary: #284b63;
  --color-light: whitesmoke;
  --color-dark: #d9d9d9;
  --color-error: #ff2818;

  --space-1: 0.5rem;
  --space-2: 1rem;
  --radius-md: 0.5rem;
}
